.cart-menu{
    position: absolute;
    top: 60px;
    right: 5px;
    background-color: rgb( 36, 37, 41);
    width: 250px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 16px;
}
.cart-menu_arrange{
    margin-top: 20px;
    padding: 20px;
    border-top: rgba(255, 255, 255, 0.4);
}
.cart-menu_total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}