.order-item{
    display: flex;
    margin-bottom: 30px;
    
    
}

.order-item_cover{
    width: 400px;
    height: 400px;
    margin-right: 30px;
}
.order-item_title{
    font-size: 24px;
    font-weight: bold;
}
.order-item_price{
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}
.cart-item_delete-icon{
    margin-left: 5px;
    cursor: pointer;
}