.cart-blocK{
    display: flex;
    align-items: center;
    position: relative;
}
.cart-block_total_price{
    margin-left: 18px;
    font-size: 18px;
    font-weight: bold;
}
.cart-block_icon{
    cursor: pointer;
    position: relative;
}